<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <p class="lead">Nama saya Regina Khalida, biasa dipanggil Gina. Saya lahir di Padang pada tanggal 24 Maret 1996. Saat ini saya adalah seorang mahasiswa pada salah satu universitas di Pekanbaru. Saya duduk di bangku Program Studi Sistem Informasi S1 Fakultas Sains dan Teknologi Universitas Islam Negeri Sultan Syarif Kasim Riau, dan sekarang sedang menjalani semester 7 dimana pada semester ini kebanyakan mahasiswa pada "GALAU". tapi saya percaya, Saya bisa melewatinya<a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
